<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/chat/createRoom" method="post">
    <input type="text" name="user1" placeholder="user1">
    <input type="text" name="user2" placeholder="user2"> <!-- 사용자 이름 입력 필드 추가 -->
    <button type="submit">방 만들기</button>
</form>

<table>
    <tr th:each="room : ${roomList}">
        <td>
            <a th:href="@{chatRoom(roomId=${room.roomId})}" th:text="${room.name}"></a>
        </td>
    </tr>
</table>

</body>
</html>
